* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0px auto;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  margin: 20px;
}

.nav-container {
  height: 40px;
  background-color: rgb(20, 141, 221);
}

.btn {
  margin: 5px;
  padding: 10px;
  background-color: rgb(124, 55, 214);
}

.btn:hover {
  padding: 10px;
  background-color: rgba(124, 55, 214, 0.511);
}
